@import "../node_modules/bootstrap/scss/bootstrap";



@include media-breakpoint-up(sm){
    header {
        .dropdown {
            display: none;
        }
    }
}
.h-text {
    text-align: center;

}
.h {
    background-color: aqua;

}

header.h {

    height: 50px;
}
.dropdown {
    background-color: yellow;
    vertical-align: auto;
}

